/* 
Styling for heading1 and paragraphs 
*/

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: green;
}

a:hover {
  font-size: 1.5em;
}

a:active {
  text-transform: uppercase;
}

footer {
  position: relative;
  clear: both;
  top: 100%;
  background-color: pink !important;
  color: red;
}

.sample-button {
  width: 300px;
  padding: 0.8em;
  border: 2px dotted royalblue;
  border-radius: 9999px;
  margin: 0.4em;
}

.cat-img {
  float: left;
}

#parent-div {
  font-size: 2em;
}

#sample-text {
  font-size: 2rem;
}

#box {
  width: 200px;
  height: 200px;
  background: #ca28ca;
  position: relative;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: move--it;
  -webkit-animation-duration: 4s;
  /* Standard syntax */
  animation-name: move--it;
  animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move--it {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

/* Standard syntax */
@keyframes move--it {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
